<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contact>
            <whatsapp_contact>
                <status>1</status>
                <phone>+971xxxxxxxxx</phone>
                <message>Hello!</message>
            </whatsapp_contact>
        </contact>
    </default>
</config>